@model IEnumerable<Apartments.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}

<h2>Apartments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Search for an apt address -->
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by apartment: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>

<!-- Table has two sorting columns -->
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.AptAddress)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SqFootage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthUtilityFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthParkfee)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.LastCleanDate)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVacant)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <!-- Verifies if the last cleaning date is less than 6 months. The date displays in green if less than 6 months and in red if more than six months. -->
    var months = Math.Abs((item.LastCleanDate.Month - DateTime.Now.Month) + 12 * (item.LastCleanDate.Year - DateTime.Now.Year));
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AptAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SqFootage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthUtilityFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthParkfee)
            </td>
            <td style="color: @(months >= 6 ? "red" : "green")">
                @Html.DisplayFor(modelItem => item.LastCleanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVacant)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApartmentId" class="btn btn-success">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ApartmentId" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ApartmentId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
