@using Apartments.Models
@model IEnumerable<Apartments.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h2>Contracts</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Search for contracts. -->
<!-- This includes search and sort by Name and Apartment Address. -->
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            Find by apartment: <input type="text" name="SearchApt" value="@ViewData["currentFilter2"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>

<!-- The table is sortable by the contract End Date and the the Monthly Rent. -->
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.EndDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RentSortParm"]">@Html.DisplayNameFor(model => model.MonthlyRent)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    var fullName = item.Tenant.FirstName + " " + item.Tenant.LastName;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.AptAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractId" class="btn btn-success">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ContractId" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ContractId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
